:root {
  /* font sizing */
  --fs-100: 0.5rem;
  --fs-200: 0.75rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 2rem;
  --fs-900: 3rem;

  /* font weight */
  --fw-light: 400;
  --fw-bold: 700;

  /* spacing */
  --spacing-100: 0.5rem;
  --spacing-200: 0.75rem;
  --spacing-300: 0.875rem;
  --spacing-400: 1rem;
  --spacing-500: 1.125rem;
  --spacing-600: 1.5rem;
  --spacing-700: 2rem;
  --spacing-800: 2.5rem;
  --spacing-900: 3rem;

  /* color */
  --clr-primary-100: hsl(25, 100%, 94%);
  --clr-primary-400: hsl(26, 100%, 55%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(223, 64%, 98%);
  --clr-neutral-300: hsl(220, 14%, 75%);
  --clr-neutral-400: hsl(219, 9%, 45%);
  --clr-neutral-500: hsl(220, 13%, 13%);
  --clr-neutral-800: hsla(0, 0%, 0%, 0.75);
  --clr-neutral-900: hsl(0, 0%, 0%);

  /* font family */
  --ff: 'Kumbh Sans', sans-serif;
  --ff-head: var(--ff);
  --ff-body: var(--ff);
}

#root {
  margin: 0 auto;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff);
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
}

header {
  position: relative;
  display: grid;
  grid-template-columns: auto 2fr;
  align-items: center;
  gap: var(--spacing-400);
  margin-block: var(--spacing-400);
  padding-block-end:  var(--spacing-600);
  margin-inline: var(--spacing-700);
  border-bottom: 1px solid var(--clr-neutral-300);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-visible {
  display: none;
}

a {
  text-decoration: none;
  color: var(--clr-neutral-300);
}

ul {
  display: flex;
  list-style: none;
  gap: var(--spacing-300);
}

button {
  background-color: transparent;
  outline-color: transparent;
  padding: var(--spacing-100);
  border: none;
}

.avatar-wrapper {
  cursor: pointer;
  border: none;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  background-color: transparent;
}
.avatar-wrapper:hover {
  transition: 200ms all;
  border-color: var(--clr-primary-400);
}

.avatar {
  aspect-ratio: 1;
  object-fit: cover;
  width: 2rem;
}
@media (max-width: 675px) {
  .desktop-visible {
    display: none;
  }
  nav {
    justify-content: flex-end;
  }
  .mobile-visible {
    width: 40vw;
    height: calc(100vh - var(--spacing-400));
    background-color: var(--clr-neutral-100);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-inline-start: var(--spacing-400);
    gap: var(--spacing-400);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .mobile-visible::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: var(--clr-neutral-800);
  }

  .mobile-visible ul {
    flex-direction: column;
    gap: var(--spacing-600);
    width: 100%;
  }
  .mobile-visible ul a {
    color: var(--clr-neutral-900);
    font-weight: var(--fw-bold);
  }
}